## Fehlerbehebung mit Pandas

Es gibt Funktionen die Fehler selbstständig erkennen können. Danach können wir alle Fehler durch valide Werte ersetzen

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.isnull(np.NaN)

True

In [3]:
pd.notnull(np.NaN)

False

In [11]:
serie = pd.Series([1, np.NaN, 3])

In [12]:
serie

0    1.0
1    NaN
2    3.0
dtype: float64

In [13]:
pd.isnull(serie)

0    False
1     True
2    False
dtype: bool

In [14]:
serie[pd.isnull(serie)]

1   NaN
dtype: float64

In [15]:
serie[pd.isnull(serie)] = 0
serie

0    1.0
1    0.0
2    3.0
dtype: float64

In [39]:
data = pd.read_csv("Data/PopulationData.csv", delimiter=";", decimal=".", thousands=",", index_col="Country (or dependency)")

In [40]:
data.drop(columns=["#"], inplace=True)

In IPython Notebooks können auch normale Python Funktionen definiert werden

In [44]:
def resetData():
    data = pd.read_csv("Data/PopulationData.csv", delimiter=";", decimal=".", thousands=",", index_col="Country (or dependency)")
    data.drop(columns=["#"], inplace=True)

In [21]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    int64
 1   YearlyChange      235 non-null    object
 2   NetChange         235 non-null    int64
 3   Density(P/Km²)    235 non-null    int64
 4   Land Area(Km²)    235 non-null    int64
 5   Migrants(net)     201 non-null    float64
 6   Fert.Rate         235 non-null    object
 7   Med.Age           235 non-null    object
 8   UrbanPop %        235 non-null    object
 9   WorldShare        235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 20.2+ KB

## Fehler erkennen/entfernen

In [23]:
data.isnull()

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

In [24]:
data.isnull().sum()

Population(2020)     0
YearlyChange         0
NetChange            0
Density(P/Km²)       0
Land Area(Km²)       0
Migrants(net)       34
Fert.Rate            0
Med.Age              0
UrbanPop %           0
WorldShare           0
dtype: int64

In [32]:
data[data["Migrants(net)"].isnull()]

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
Isle of Man,85033,0.53 %,449,149,570,NaN,N.A.,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,NaN,N.A.,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,NaN,N.A.,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,NaN,N.A.,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,NaN,N.A.,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,NaN,N.A.,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,NaN,N.A.,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,NaN,N.A.,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,NaN,N.A.,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,NaN,N.A.,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,NaN,N.A.,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,NaN,N.A.,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,NaN,N.A.,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,NaN,N.A.,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,NaN,N.A.,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,NaN,N.A.,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,NaN,N.A.,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,NaN,N.A.,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

## Fehler innerhalb einer gesamten Spalte beheben

In [34]:
data.loc[data["Migrants(net)"].isnull(), "Migrants(net)"] = 0

In [35]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

Mit der dropna() Funktion können alle Datensätze gelöscht werden, die NaN in einer Spalte enthalten

In [38]:
data.dropna()

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Aruba,106766,0.43 %,452,593,180,201.0,1.9,41,44 %,0.00 %
Tonga,105695,1.15 %,1201,147,720,-800.0,3.6,22,24 %,0.00 %
U.S. Virgin Islands,104425,-0.15 %,-153,298,350,-451.0,2.0,43,96 %,0.00 %
Seychelles,98347,0.62 %,608,214,460,-200.0,2.5,34,56 %,0.00 %
Antigua and Barbuda,97929,0.84 %,811,223,440,0.0,2.0,34,26 %,0.00 %

Bei dropna kann auch eine Achse angegeben werden um Spalten mit NaN Werten zu löschen

In [41]:
data.dropna(axis=1)

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,N.A.,N.A.,N.A.,0.00 %

In [43]:
resetData()

In [46]:
data.dropna(thresh=2)  # Lösche alle Datensätze bei denen mindestens 2 Zellen fehlerhaft sind

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [48]:
data.dropna(how="all")  # Löscht die Zeile, wenn ALLE Zellen NaN sind
data.dropna(how="any")  # Löscht die Zeile, wenn mindestens eine Zelle NaN ist

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Aruba,106766,0.43 %,452,593,180,201.0,1.9,41,44 %,0.00 %
Tonga,105695,1.15 %,1201,147,720,-800.0,3.6,22,24 %,0.00 %
U.S. Virgin Islands,104425,-0.15 %,-153,298,350,-451.0,2.0,43,96 %,0.00 %
Seychelles,98347,0.62 %,608,214,460,-200.0,2.5,34,56 %,0.00 %
Antigua and Barbuda,97929,0.84 %,811,223,440,0.0,2.0,34,26 %,0.00 %

Schnelle Fehlerbehebung mittels fillna

In [49]:
data.fillna(0)

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [53]:
data.fillna(method="ffill")  # Füllt NaN Werte anhand von vorherigen Werten (der letzte Valide Wert wird übertragen in die NaN Felder)
data.fillna(method="bfill")  # Füllt NaN Werte anhand von nachher kommenden Werten (der erste Valide Wert von unten wird übertragen in die NaN Felder)

C:\Users\lk3\AppData\Local\Temp\ipykernel_12536\1117969531.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill")  # Füllt NaN Werte anhand von vorherigen Werten (der letzte Valide Wert wird übertragen in die NaN Felder)
C:\Users\lk3\AppData\Local\Temp\ipykernel_12536\1117969531.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="bfill")  # Füllt NaN Werte anhand von nachher kommenden Werten (der erste Valide Wert von unten wird übertragen in die NaN Felder)

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [54]:
data.loc[data["Migrants(net)"].isnull(), "Migrants(net)"] = 0

In [55]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [56]:
data["Fert.Rate"] == "N.A."

Country (or dependency)
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: Fert.Rate, Length: 235, dtype: bool

In [57]:
data.loc[data["Fert.Rate"] == "N.A."]

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
Isle of Man,85033,0.53 %,449,149,570,0.0,N.A.,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,0.0,N.A.,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,0.0,N.A.,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,0.0,N.A.,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,0.0,N.A.,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,0.0,N.A.,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,0.0,N.A.,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,0.0,N.A.,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,0.0,N.A.,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,0.0,N.A.,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,0.0,N.A.,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,0.0,N.A.,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,0.0,N.A.,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,0.0,N.A.,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,0.0,N.A.,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,0.0,N.A.,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,0.0,N.A.,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,0.0,N.A.,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,0.0,N.A.,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,0.0,N.A.,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,0.0,N.A.,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,0.0,N.A.,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,0.0,N.A.,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,0.0,N.A.,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,0.0,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,0.0,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,0.0,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,0.0,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,0.0,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [58]:
data.loc[data["Fert.Rate"] == "N.A.", "Fert.Rate"] = 0

In [59]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

In [60]:
def fixNa(df, columnName, newValue):
    df.loc[df[columnName] == "N.A.", columnName] = newValue

In [61]:
fixNa(data, "Med.Age", 0)

In [62]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,N.A.,0.00 %

In [64]:
(data == "N.A.").sum()

Population(2020)     0
YearlyChange         0
NetChange            0
Density(P/Km²)       0
Land Area(Km²)       0
Migrants(net)        0
Fert.Rate            0
Med.Age              0
UrbanPop %          13
WorldShare           0
dtype: int64

In [65]:
fixNa(data, "UrbanPop %", 0)

In [66]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    int64
 1   YearlyChange      235 non-null    object
 2   NetChange         235 non-null    int64
 3   Density(P/Km²)    235 non-null    int64
 4   Land Area(Km²)    235 non-null    int64
 5   Migrants(net)     235 non-null    float64
 6   Fert.Rate         235 non-null    object
 7   Med.Age           235 non-null    object
 8   UrbanPop %        235 non-null    object
 9   WorldShare        235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 28.3+ KB

## Datentypen konvertieren

Dafür gibt es 2 Funktionen: convert_dtypes() und astype(Typ)

convert_dtypes versucht die Typen automatisch zu konvertieren, funktioniert aber nicht immer und gibt auch keine Fehler, wenn es nicht funktioniert

astype konvertiert eine Spalte, gibt einen Fehler wenn es nicht funktioniert

In [69]:
data.convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    Int64
 1   YearlyChange      235 non-null    string
 2   NetChange         235 non-null    Int64
 3   Density(P/Km²)    235 non-null    Int64
 4   Land Area(Km²)    235 non-null    Int64
 5   Migrants(net)     235 non-null    Int64
 6   Fert.Rate         235 non-null    object
 7   Med.Age           235 non-null    object
 8   UrbanPop %        235 non-null    object
 9   WorldShare        235 non-null    string
dtypes: Int64(5), object(3), string(2)
memory usage: 29.4+ KB

In [71]:
data["Fert.Rate"] = pd.Series(data["Fert.Rate"], dtype=float)

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    int64
 1   YearlyChange      235 non-null    object
 2   NetChange         235 non-null    int64
 3   Density(P/Km²)    235 non-null    int64
 4   Land Area(Km²)    235 non-null    int64
 5   Migrants(net)     235 non-null    float64
 6   Fert.Rate         235 non-null    float64
 7   Med.Age           235 non-null    object
 8   UrbanPop %        235 non-null    object
 9   WorldShare        235 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 28.3+ KB

In [73]:
data["Med.Age"] = pd.Series(data["Med.Age"], dtype=float)

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    int64
 1   YearlyChange      235 non-null    object
 2   NetChange         235 non-null    int64
 3   Density(P/Km²)    235 non-null    int64
 4   Land Area(Km²)    235 non-null    int64
 5   Migrants(net)     235 non-null    float64
 6   Fert.Rate         235 non-null    float64
 7   Med.Age           235 non-null    float64
 8   UrbanPop %        235 non-null    object
 9   WorldShare        235 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 28.3+ KB

Texte aus Zellen entfernen (z.B. %)

WICHTIG: Hier wird bei der replace Funktion regex=True benötigt

In [79]:
data["YearlyChange"] = data["YearlyChange"].replace(" %", "", regex=True).astype(float)

In [80]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38.0,61 %,18.47 %
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28.0,35 %,17.70 %
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38.0,83 %,4.25 %
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30.0,56 %,3.51 %
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23.0,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0.0,0.0,10 %,0.00 %
Falkland Islands,3480,3.05,103,0,12170,0.0,0.0,0.0,66 %,0.00 %
Niue,1626,0.68,11,6,260,0.0,0.0,0.0,46 %,0.00 %
Tokelau,1357,1.27,17,136,10,0.0,0.0,0.0,0 %,0.00 %
Vatican State,801,0.25,2,2003,0,0.0,0.0,0.0,0,0.00 %

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    int64
 1   YearlyChange      235 non-null    float64
 2   NetChange         235 non-null    int64
 3   Density(P/Km²)    235 non-null    int64
 4   Land Area(Km²)    235 non-null    int64
 5   Migrants(net)     235 non-null    float64
 6   Fert.Rate         235 non-null    float64
 7   Med.Age           235 non-null    float64
 8   UrbanPop %        235 non-null    object
 9   WorldShare        235 non-null    object
dtypes: float64(4), int64(4), object(2)
memory usage: 28.3+ KB

In [82]:
def fixPct(df, column):
    df[column] = df[column].replace(" %", "", regex=True).astype(float)

In [83]:
fixPct(data, "UrbanPop %")

In [84]:
fixPct(data, "WorldShare")

In [85]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38.0,61.0,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28.0,35.0,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38.0,83.0,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30.0,56.0,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23.0,35.0,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0.0,0.0,10.0,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0.0,0.0,66.0,0.00
Niue,1626,0.68,11,6,260,0.0,0.0,0.0,46.0,0.00
Tokelau,1357,1.27,17,136,10,0.0,0.0,0.0,0.0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0.0,0.0,0.0,0.00

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    int64
 1   YearlyChange      235 non-null    float64
 2   NetChange         235 non-null    int64
 3   Density(P/Km²)    235 non-null    int64
 4   Land Area(Km²)    235 non-null    int64
 5   Migrants(net)     235 non-null    float64
 6   Fert.Rate         235 non-null    float64
 7   Med.Age           235 non-null    float64
 8   UrbanPop %        235 non-null    float64
 9   WorldShare        235 non-null    float64
dtypes: float64(6), int64(4)
memory usage: 28.3+ KB